## Reading data with R

In [ ]:
install.packages("tidyverse")
library(tidyverse)

### `read_csv`
- `read_csv` looks through the first 1000 rows of each column and guesses its data type
- You have the option to specify the data type for a column manually
by using col_types
- read_csv assumes that fields are delineated by commas.

In [ ]:
surveys <- read_csv("../data_raw/portal_data_joined.csv")

In [5]:
head(surveys)

  record_id month day year plot_id species_id sex hindfoot_length weight
1   1        7    16  1977 2       NL         M   32              NA
2  72        8    19  1977 2       NL         M   31              NA
3 224        9    13  1977 2       NL         NA  NA              NA
4 266       10    16  1977 2       NL         NA  NA              NA
5 349       11    12  1977 2       NL         NA  NA              NA
6 363       11    12  1977 2       NL         NA  NA              NA
  genus   species  taxa   plot_type
1 Neotoma albigula Rodent Control
2 Neotoma albigula Rodent Control
3 Neotoma albigula Rodent Control
4 Neotoma albigula Rodent Control
5 Neotoma albigula Rodent Control
6 Neotoma albigula Rodent Control

In [4]:
print(surveys)

# A tibble: 34,786 × 13
   record…¹ month   day  year plot_id speci…² sex   hindf…³ weight genus species
      <dbl> <dbl> <dbl> <dbl>   <dbl> <chr>   <chr>   <dbl>  <dbl> <chr> <chr>
 1        1     7    16  1977       2 NL      M          32     NA Neot… albigu…
 2       72     8    19  1977       2 NL      M          31     NA Neot… albigu…
 3      224     9    13  1977       2 NL      NA         NA     NA Neot… albigu…
 4      266    10    16  1977       2 NL      NA         NA     NA Neot… albigu…
 5      349    11    12  1977       2 NL      NA         NA     NA Neot… albigu…
 6      363    11    12  1977       2 NL      NA         NA     NA Neot… albigu…
 7      435    12    10  1977       2 NL      NA         NA     NA Neot… albigu…
 8      506     1     8  1978       2 NL      NA         NA     NA Neot… albigu…
 9      588     2    18  1978       2 NL      M          NA    218 Neot… albigu…
10      661     3    11  1978       2 NL      NA         NA     NA Neot… albigu…
# … with 34,776 more rows, 2 more variables: taxa <chr>, plot_type <chr>, and
#   abbreviated variable names ¹​record_id, ²​species_id, ³​hindfoot_length