# Manipulating, analyzing and exporting data with tidyverse
## - Data manipulation using `dplyr` and `tidyr`
- `dplyr` is a package for helping with tabular data manipulation.
- The `tidyverse` is an "umbrella-package" that installs `tidyr`, `dplyr` and several other useful packages for data analysis, such as `ggplot2`, `tibble`, etc.
    - `tidyverse` package tries to address 3 common issues that arise when doing data analysis in R:
        - The resul from a base R function sometimes depend on the type of data.
        - R expressions are used in a non standard way, which can be confusing for new learners.
        - The existence of hidden arguments having default operations that new learners are not aware of.

In [1]:
install.packages("tidyverse")

Installing package into 'C:/Users/stef/AppData/Local/R/win-library/4.2'
(as 'lib' is unspecified)

package 'tidyverse' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\stef\AppData\Local\Temp\RtmpQ7dSjN\downloaded_packages

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────────────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6      ✔ purrr   0.3.4
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.0      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

- The package `dplyr` provides helper tools for the most common data manipulation tasks. It is built to work directly with data frames, many common tasks optimized by being written in a compiled language (C++). An additional feature is the ability to work directly with data stored in an external database, where only the results of the query are returned.
    - This addresses a common problem with R in that all operations are conducted in-memory and thus the amount of data you can work with is limited by available memory.
- The package `tidyr` addresses the common problem of wanting to reshape your data for plotting and usage by different R functions.

In [2]:
surveys <- read_csv("../data_raw/portal_data_joined.csv")

Rows: 34786 Columns: 13
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (6): species_id, sex, genus, species, taxa, plot_type
dbl (7): record_id, month, day, year, plot_id, hindfoot_length, weight

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [5]:
str(surveys)

spec_tbl_df [34,786 × 13] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ record_id      : num [1:34786] 1 72 224 266 349 363 435 506 588 661 ...
 $ month          : num [1:34786] 7 8 9 10 11 11 12 1 2 3 ...
 $ day            : num [1:34786] 16 19 13 16 12 12 10 8 18 11 ...
 $ year           : num [1:34786] 1977 1977 1977 1977 1977 ...
 $ plot_id        : num [1:34786] 2 2 2 2 2 2 2 2 2 2 ...
 $ species_id     : chr [1:34786] "NL" "NL" "NL" "NL" ...
 $ sex            : chr [1:34786] "M" "M" NA NA ...
 $ hindfoot_length: num [1:34786] 32 31 NA NA NA NA NA NA NA NA ...
 $ weight         : num [1:34786] NA NA NA NA NA NA NA NA 218 NA ...
 $ genus          : chr [1:34786] "Neotoma" "Neotoma" "Neotoma" "Neotoma" ...
 $ species        : chr [1:34786] "albigula" "albigula" "albigula" "albigula" ...
 $ taxa           : chr [1:34786] "Rodent" "Rodent" "Rodent" "Rodent" ...
 $ plot_type      : chr [1:34786] "Control" "Control" "Control" "Control" ...
 - attr(*, "spec")=
  .. cols(
  ..   record_id = col_double(),
  ..   month = col_double(),
  ..   day = col_double(),
  ..   year = col_double(),
  ..   plot_id = col_double(),
  ..   species_id = col_character(),
  ..   sex = col_character(),
  ..   hindfoot_length = col_double(),
  ..   weight = col_double(),
  ..   genus = col_character(),
  ..   species = col_character(),
  ..   taxa = col_character(),
  ..   plot_type = col_character()
  .. )
 - attr(*, "problems")=<externalptr>

### - Selecting columns and filtering rows
####  - Selecting columns:

In [7]:
# select(data_frame, columns...)
head(select(surveys, plot_id, species_id, weight))

  plot_id species_id weight
1 2       NL         NA
2 2       NL         NA
3 2       NL         NA
4 2       NL         NA
5 2       NL         NA
6 2       NL         NA

In [9]:
# Select all columns EXCEPT certain ones (in this care record_id and species_id) 
head(select(surveys, -record_id, -species_id))

  month day year plot_id sex hindfoot_length weight genus   species  taxa
1  7    16  1977 2       M   32              NA     Neotoma albigula Rodent
2  8    19  1977 2       M   31              NA     Neotoma albigula Rodent
3  9    13  1977 2       NA  NA              NA     Neotoma albigula Rodent
4 10    16  1977 2       NA  NA              NA     Neotoma albigula Rodent
5 11    12  1977 2       NA  NA              NA     Neotoma albigula Rodent
6 11    12  1977 2       NA  NA              NA     Neotoma albigula Rodent
  plot_type
1 Control
2 Control
3 Control
4 Control
5 Control
6 Control

#### - Filtering rows:

In [11]:
# To choose rows based on a specific criterion: filter(data_frame, criterions...)
head(filter(surveys, sex=="M", genus=="Neotoma"))

  record_id month day year plot_id species_id sex hindfoot_length weight
1    1      7     16  1977 2       NL         M   32               NA
2   72      8     19  1977 2       NL         M   31               NA
3  588      2     18  1978 2       NL         M   NA              218
4  845      5      6  1978 2       NL         M   32              204
5  990      6      9  1978 2       NL         M   NA              200
6 1164      8      5  1978 2       NL         M   34              199
  genus   species  taxa   plot_type
1 Neotoma albigula Rodent Control
2 Neotoma albigula Rodent Control
3 Neotoma albigula Rodent Control
4 Neotoma albigula Rodent Control
5 Neotoma albigula Rodent Control
6 Neotoma albigula Rodent Control

### Pipes
1. With intermediate steps, you create a temporary data frame and use that as input to the next function, like this:

In [14]:
## This is readable, but can clutter up your workspace with lots of 
## objects that you have to name individually.

surveys2 <- filter(surveys, weight < 5)
surveys_sml <- select(surveys2, species_id, sex, weight)
head(surveys_sml)

  species_id sex weight
1 PF         F   4
2 PF         F   4
3 PF         M   4
4 RM         F   4
5 RM         M   4
6 PF         NA  4

2. Nest functions:

In [16]:
## We get the same result as with using intermediate steps, BUT can be 
## difficult to read if too many functions are nested, as R evaluates the expression from the inside
## out. In this case: filtering then selecting.

surveys_sml <- select(filter(surveys, weight < 5), species_id, sex, weight)
head(surveys_sml)

  species_id sex weight
1 PF         F   4
2 PF         F   4
3 PF         M   4
4 RM         F   4
5 RM         M   4
6 PF         NA  4

3. Pipes
    - Pipes are a recent additions to R. Pipes let you take the output of one function and send it directly to the next, which is useful when you need to do many things to the same dataset.
    - Pipes in R look like `%>%` and are made available via the `magrittr` package, installed automatically with `dplyr`.
    - `%>%` takes the object on its left and passes it as the first argument to the function on its right, we don't need to explicitly include the data frame as an argument when using pipes.
    - Some may find it helpful to read the pipe like the word "then".

In [19]:
## We get the same result as before

head( surveys %>%
        filter(weight < 5) %>%
        select(species_id, sex, weight) 
    )

  species_id sex weight
1 PF         F   4
2 PF         F   4
3 PF         M   4
4 RM         F   4
5 RM         M   4
6 PF         NA  4

#### Challenge - pipes:
- Using pipes, subset the `surveys` data to include animals collected before 1995 and retain only the columns `year`, `sex`, and `weight`.

In [21]:
surveys_c1 <- surveys %>%
                filter(year < 1995) %>%
                select(year, sex, weight)

In [22]:
head(surveys_c1)

  year sex weight
1 1977 M   NA
2 1977 M   NA
3 1977 NA  NA
4 1977 NA  NA
5 1977 NA  NA
6 1977 NA  NA

### Mutate
- Frequently you'll want to create new columns based on the values in existing columns, for example to do unit conversions, or to find the ration of values in two columns. For this we'll user `mutate()`.
- To create a new column of weight in kg:

In [24]:
head(surveys %>%
        mutate(weight_kg = weight / 1000)
    )

  record_id month day year plot_id species_id sex hindfoot_length weight
1   1        7    16  1977 2       NL         M   32              NA
2  72        8    19  1977 2       NL         M   31              NA
3 224        9    13  1977 2       NL         NA  NA              NA
4 266       10    16  1977 2       NL         NA  NA              NA
5 349       11    12  1977 2       NL         NA  NA              NA
6 363       11    12  1977 2       NL         NA  NA              NA
  genus   species  taxa   plot_type weight_kg
1 Neotoma albigula Rodent Control   NA
2 Neotoma albigula Rodent Control   NA
3 Neotoma albigula Rodent Control   NA
4 Neotoma albigula Rodent Control   NA
5 Neotoma albigula Rodent Control   NA
6 Neotoma albigula Rodent Control   NA

- You can also create a second new column based on the first new column within the same call of `mutate()`:

In [28]:
surveys %>% 
        mutate(
            weight_kg = weight / 1000,
            weight_lb = weight_kg * 2.2
        ) %>%
        head()

  record_id month day year plot_id species_id sex hindfoot_length weight
1   1        7    16  1977 2       NL         M   32              NA
2  72        8    19  1977 2       NL         M   31              NA
3 224        9    13  1977 2       NL         NA  NA              NA
4 266       10    16  1977 2       NL         NA  NA              NA
5 349       11    12  1977 2       NL         NA  NA              NA
6 363       11    12  1977 2       NL         NA  NA              NA
  genus   species  taxa   plot_type weight_kg weight_lb
1 Neotoma albigula Rodent Control   NA        NA
2 Neotoma albigula Rodent Control   NA        NA
3 Neotoma albigula Rodent Control   NA        NA
4 Neotoma albigula Rodent Control   NA        NA
5 Neotoma albigula Rodent Control   NA        NA
6 Neotoma albigula Rodent Control   NA        NA

In [30]:
## The first few rows of the output are full of NAs, so if we wanted to remove 
## those we could insert a filter() in the chain:

surveys %>%
    # negating the result returned from is.na(weight)
    filter(!is.na(weight)) %>% 
    mutate(weight_kg = weight / 1000) %>%
    head()

  record_id month day year plot_id species_id sex hindfoot_length weight
1  588       2    18  1978 2       NL         M   NA              218
2  845       5     6  1978 2       NL         M   32              204
3  990       6     9  1978 2       NL         M   NA              200
4 1164       8     5  1978 2       NL         M   34              199
5 1261       9     4  1978 2       NL         M   32              197
6 1453      11     5  1978 2       NL         M   NA              218
  genus   species  taxa   plot_type weight_kg
1 Neotoma albigula Rodent Control   0.218
2 Neotoma albigula Rodent Control   0.204
3 Neotoma albigula Rodent Control   0.200
4 Neotoma albigula Rodent Control   0.199
5 Neotoma albigula Rodent Control   0.197
6 Neotoma albigula Rodent Control   0.218

#### Challenge: 
- Create a new data frame from the surveys data that meets the following criteria: contains only the species_id column and a new column called hindfoot_cm containing the hindfoot_length values (currently in mm) converted to centimeters. In this hindfoot_cm column, there are no NAs and all values are less than 3.

In [22]:
surveys_cl2 <- surveys %>%
                mutate(hindfoot_cm = hindfoot_length / 10) %>%
                filter(!is.na(hindfoot_cm) & hindfoot_cm < 3) %>%
                select(species_id, hindfoot_cm)         

## - Long form (&& and ||) evaluates left to right examining only the first element of each vector and returns a logical value.
## - Short form (& and |) continues evaluation from left to right for all elements of each vector and creates (returns) 
## a vector as a result.

In [24]:
surveys_cl2 %>% head()

  species_id hindfoot_cm
1 NL         2.8
2 NL         2.1
3 NL         2.1
4 NL         2.9
5 NL         2.9
6 DM         2.5

### Split-apply-combine data analysis and the `summarize()` function.
- Many data analysis tasks can be approached using the split-apply-combine paradigm:
    - Split the data into groups.
    - Apply some analysis to each group.
    - Combine the results.
- `group_by()` is often used together with `summarize()`, which collapses each group into a single-row summary of that group.
    - `group_by()` takes as arguments the column names that contain categorical variables for which you want to calculate the summary statistics.
    - Example:

In [26]:
surveys %>% 
    group_by(sex) %>% ## data is grouped by sex, but not visually separated.
    summarize(mean_weight = mean(weight, na.rm = TRUE)) ## mean_weight 
# gets calculated for each group.

  sex mean_weight
1 F   42.17055
2 M   42.99538
3 NA  64.74257

- You can also group by multiple columns:

In [4]:
# dataset may contain NA for sex and weight

surveys %>%
    filter(!is.na(weight)) %>%
    group_by(sex, species_id) %>%

    # when mean() is called on a vector of NA the result is NaN
    
    # If we use mean() with na.rm=TRUE and by some chance in a single group 
    # all of the values are NA it means that the returned value of mean() is
    # going to be NaN. We don't want that as a result so before calculating the
    # mean value we filter (exclude) all rows in which weight is NA.

    # Example:
    # mean(c(NA,NA,NA), na.rm=TRUE) returns NaN

    summarize(mean_weight = mean(weight))

`summarise()` has grouped output by 'sex'. You can override using the `.groups` argument.

   sex species_id mean_weight
1  F   BA           9.161290
2  F   DM          41.609685
3  F   DO          48.531250
4  F   DS         117.749548
5  F   NL         154.282209
6  F   OL          31.065817
7  F   OT          24.830904
8  F   OX          21.000000
9  F   PB          30.210884
10 F   PE          22.822183
11 F   PF           7.974394
12 F   PH          30.850000
13 F   PL          19.312500
14 F   PM          22.125668
15 F   PP          17.180670
16 F   PX          20.000000
17 F   RF          13.684211
18 F   RM          11.102196
19 F   RO          11.000000
20 F   SF          69.000000
21 F   SH          78.756410
22 F   SO          55.322581
23 F   SS          57.000000
24 M   BA           7.357143
25 M   DM          44.353134
26 M   DO          49.135102
27 M   DS         122.290984
28 M   NL         165.652893
29 M   OL          32.068410
30 M   OT          23.695382
⋮  ⋮   ⋮          ⋮
35 M   PH          31.45455
36 M   PI          19.42857
37 M   PL          18.68421
38 M   PM          20.80120
39 M   PP          17.18449
40 M   PX          18.00000
41 M   RF          12.44444
42 M   RM          10.12323
43 M   RO           9.50000
44 M   RX          15.50000
45 M   SF          53.43478
46 M   SH          65.17742
47 M   SO          55.70000
48 M   SS         130.00000
49 NA  DM          38.28571
50 NA  DO          50.66667
51 NA  DS         120.00000
52 NA  NL         167.68750
53 NA  OL          29.00000
54 NA  OT          21.20000
55 NA  PB          30.60000
56 NA  PE          17.66667
57 NA  PF           6.00000
58 NA  PI          18.00000
59 NA  PL          25.00000
60 NA  PM          20.25000
61 NA  PP          14.60000
62 NA  RM          11.08333
63 NA  SF          40.50000
64 NA  SH         130.00000

- The output from the previous command doesnt run of the screen.
    - If you want to display more data, you can use the `print()` function at the end of your chain with the argument `n` specifying the number of rows to display.
    ```R
        surveys %>%
            filter(!is.na(weight)) %>%
            group_by(sex, species_id) %>%
            summarize(mean_weight = mean(weight)) %>%
            print(n = 15)            
    ```

- Once the data are grouped, you can also summarize multiple variables at the same time (and not necessarily on the same variable).
- It is sometimes useful to rearrange the result of a query to inspect the values.
    - For instance, we can sort `min_weight` to put the lighter species first (ascending order):

In [8]:
surveys %>%
    filter(!is.na(weight)) %>%
    group_by(sex, species_id) %>%
    summarize(mean_weight = mean(weight),
              min_weight = min(weight)) %>%
    arrange(min_weight) %>%
    head()

`summarise()` has grouped output by 'sex'. You can override using the `.groups` argument.

  sex species_id mean_weight min_weight
1 F   PF          7.974394   4
2 F   RM         11.102196   4
3 M   PF          7.885287   4
4 M   PP         17.184486   4
5 M   RM         10.123226   4
6 NA  PF          6.000000   4

    - to sort in descending order:

In [10]:
surveys %>%
    filter(!is.na(weight)) %>%
    group_by(sex, species_id) %>%
    summarize(mean_weight = mean(weight),
              min_weight = min(weight)) %>%
    arrange(desc(min_weight)) %>%
    head()

`summarise()` has grouped output by 'sex'. You can override using the `.groups` argument.

  sex species_id mean_weight min_weight
1 M   SS         130.0000    130
2 NA  SH         130.0000    130
3 NA  NL         167.6875     83
4 NA  DS         120.0000     78
5 F   SS          57.0000     57
6 F   SF          69.0000     46

### Counting
- If we want to count the number of rows of data for each sex we would do:

In [11]:
surveys %>%
    count(sex)

  sex n
1 F   15690
2 M   17348
3 NA   1748

- `count()` is a function from the `dplyr` package.
    - `count()` is short for grouping by a variable, and summarizing it by counting the number of observations in that group.
    - Equivalent to:

In [13]:
surveys %>%
    group_by(sex) %>%
    # n() returns the number of observations in the current group
    summarize(count = n())

  sex count
1 F   15690
2 M   17348
3 NA   1748

- For convenience, count() provides the sort argument:

In [14]:
surveys %>%
    count(sex, sort = TRUE)

  sex n
1 M   17348
2 F   15690
3 NA   1748

In [16]:
# For comparison, this is the alternative:
surveys %>%
    group_by(sex) %>%
    summarize(count = n()) %>%
    arrange(desc(count))

  sex count
1 M   17348
2 F   15690
3 NA   1748

- Counting a combination of factors:

In [ ]:
surveys %>%
    count(sex, species)
# returns all the possible variations of sex, species

- We might want to arrange the table above in:
    1. Alphabetical order of the levels of the species.
    2. Descending order of the count.

In [19]:
surveys %>%
    count(sex, species) %>%
    arrange(species, desc(n))

   sex species         n
1  F   albigula         675
2  M   albigula         502
3  NA  albigula          75
4  NA  audubonii         75
5  F   baileyi         1646
6  M   baileyi         1216
7  NA  baileyi           29
8  NA  bilineata        303
9  NA  brunneicapillus   50
10 NA  chlorurus         39
11 NA  clarki             1
12 M   eremicus         698
13 F   eremicus         579
14 NA  eremicus          22
15 M   flavus           816
16 F   flavus           757
17 NA  flavus            24
18 F   fulvescens        57
19 M   fulvescens        18
20 M   fulviventer       23
21 F   fulviventer       17
22 NA  fulviventer        3
23 NA  fuscus             5
24 NA  gramineus          8
25 NA  harrisi          436
26 M   harrisi            1
27 F   hispidus          99
28 M   hispidus          76
29 NA  hispidus           4
30 M   intermedius        8
⋮  ⋮   ⋮               ⋮
52 M   ochrognathus      11
53 M   ordii           1707
54 F   ordii           1308
55 NA  ordii             12
56 F   penicillatus    1608
57 M   penicillatus    1468
58 NA  penicillatus      47
59 NA  savannarum         2
60 NA  scutalatus         1
61 NA  sp.               73
62 M   sp.                8
63 F   sp.                5
64 M   spectabilis     1270
65 F   spectabilis     1188
66 NA  spectabilis       46
67 NA  spilosoma        245
68 M   spilosoma          2
69 F   spilosoma          1
70 NA  squamata          16
71 F   taylori           31
72 M   taylori           14
73 NA  taylori            1
74 NA  tereticaudus       1
75 NA  tigris             1
76 M   torridus        1156
77 F   torridus        1057
78 NA  torridus          36
79 NA  undulatus          5
80 NA  uniparens          1
81 NA  viridis            1

#### Challenge:
    1. How many animals were caught in each plot_type surveyed?

In [21]:
surveys %>%
    count(plot_type)

  plot_type                 n
1 Control                   15611
2 Long-term Krat Exclosure   5118
3 Rodent Exclosure           4233
4 Short-term Krat Exclosure  5906
5 Spectab exclosure          3918

2. Use group_by() and summarize() to find the mean, min, and max hindfoot length for each species (using species_id). Also add the number of observations (hint: see ?n).

In [24]:
surveys %>%
    filter(!is.na(hindfoot_length)) %>%
    group_by(species_id) %>%
    summarize(
        mean = mean(hindfoot_length),
        min = min(hindfoot_length),
        max = max(hindfoot_length),
        count = n()
    )

   species_id mean     min max count
1  AH         33.00000 31  35     2
2  BA         13.00000  6  16    45
3  DM         35.98235 16  50  9972
4  DO         35.60755 26  64  2887
5  DS         49.94887 39  58  2132
6  NL         32.29423 21  70  1074
7  OL         20.53261 12  39   920
8  OT         20.26741 13  50  2139
9  OX         19.12500 13  21     8
10 PB         26.11592  2  47  2864
11 PE         20.19554 11  30  1212
12 PF         15.58339  7  38  1493
13 PH         25.77419 22  28    31
14 PI         22.22222 20  23     9
15 PL         20.02778 10  22    36
16 PM         20.42621 16  36   847
17 PP         21.75157 11  41  3027
18 PX         19.50000 19  20     2
19 RF         17.52055 15  20    73
20 RM         16.44185  6  22  2442
21 RO         15.37500 14  17     8
22 RX         18.50000 17  20     2
23 SF         26.70732 21  38    41
24 SH         28.54962 20  39   131
25 SO         25.65854 15  36    41

3. What was the heaviest animal measured in each year? Return the columns year, weight, species_id, and weight.

In [46]:
surveys %>%
    filter(!is.na(weight)) %>%
    group_by(year) %>%
    # - max(weight) returns the maximum weight in each group, so extracting the
    # row which contains that values becomes a trivial filter.
    filter(weight == max(weight)) %>%
    select(year, genus, species_id, weight) %>%
    arrange(year)

   year genus     species_id weight
1  1977 Dipodomys DS         149
2  1978 Neotoma   NL         232
3  1978 Neotoma   NL         232
4  1979 Neotoma   NL         274
5  1980 Neotoma   NL         243
6  1981 Neotoma   NL         264
7  1982 Neotoma   NL         252
8  1983 Neotoma   NL         256
9  1984 Neotoma   NL         259
10 1985 Neotoma   NL         225
11 1986 Neotoma   NL         240
12 1987 Neotoma   NL         278
13 1988 Neotoma   NL         248
14 1989 Neotoma   NL         275
15 1990 Neotoma   NL         243
16 1991 Sigmodon  SF         199
17 1992 Neotoma   NL         220
18 1993 Neotoma   NL         233
19 1994 Neotoma   NL         226
20 1995 Neotoma   NL         171
21 1996 Neotoma   NL         185
22 1997 Neotoma   NL         231
23 1998 Neotoma   NL         238
24 1999 Neotoma   NL         227
25 2000 Neotoma   NL         265
26 2001 Neotoma   NL         280
27 2002 Neotoma   NL         248

### Reshaping with pivot_longer and pivot_wider
- Four rules defining a tidy dataset:
    1. Each variable has its own column.
    2. Each observation has its own row.
    3. Each value must have its own cell.
    4. Each type of observational unit forms a table.
- A record (sometimes called a row or **unit**) is a group of variables.
- `pivot_wider()`:
    - Takes three principal arguments:
        - the data
        - the names_from column variable whose values will become new column names.
        - the values_from column variable whose values will fill the new column variables.
    - Further arguments incluse `values_full` which, if set, fills in the missing values with value provided.
    - Example with `pivot_wider()`:
        - Let’s use pivot_wider() to transform surveys to find the mean weight of each genus in each plot over the entire survey period.

In [47]:
surveys_pw <- surveys %>%
    filter(!is.na(weight)) %>%
    group_by(plot_id, genus) %>%
    summarize(mean_weight = mean(weight))

`summarise()` has grouped output by 'plot_id'. You can override using the `.groups` argument.

In [54]:
View((surveys_pw))

    plot_id genus           mean_weight
1   1       Baiomys           7.000000
2   1       Chaetodipus      22.199387
3   1       Dipodomys        60.232143
4   1       Neotoma         156.222222
5   1       Onychomys        27.675497
6   1       Perognathus       9.625000
7   1       Peromyscus       22.222222
8   1       Reithrodontomys  11.375000
9   2       Baiomys           6.000000
10  2       Chaetodipus      25.110145
11  2       Dipodomys        55.682587
12  2       Neotoma         169.143646
13  2       Onychomys        26.873016
14  2       Perognathus       6.947368
15  2       Peromyscus       22.269663
16  2       Reithrodontomys  10.680556
17  2       Sigmodon         70.857143
18  3       Baiomys           8.611111
19  3       Chaetodipus      24.636364
20  3       Dipodomys        52.046875
21  3       Neotoma         158.241379
22  3       Onychomys        26.032407
23  3       Perognathus       7.507812
24  3       Peromyscus       21.370370
25  3       Reithrodontomys  10.516588
26  3       Sigmodon         65.614035
27  4       Chaetodipus      23.023810
28  4       Dipodomys        57.524542
29  4       Neotoma         164.166667
30  4       Onychomys        28.093750
⋮   ⋮       ⋮               ⋮
167 21      Neotoma         137.764706
168 21      Onychomys        24.592105
169 21      Perognathus       9.191617
170 21      Peromyscus       22.058824
171 21      Reithrodontomys  10.164103
172 21      Sigmodon         71.107143
173 22      Chaetodipus      29.739583
174 22      Dipodomys        70.384131
175 22      Neotoma         136.866667
176 22      Onychomys        24.642105
177 22      Perognathus      10.815385
178 22      Peromyscus       21.346154
179 22      Reithrodontomys   9.285714
180 22      Sigmodon         50.000000
181 23      Chaetodipus      22.444444
182 23      Dipodomys        53.620690
183 23      Neotoma         117.500000
184 23      Onychomys        23.409091
185 23      Perognathus       6.400000
186 23      Peromyscus       21.522124
187 23      Reithrodontomys  11.037234
188 23      Sigmodon        199.000000
189 24      Chaetodipus      20.461538
190 24      Dipodomys        45.746439
191 24      Neotoma         165.721649
192 24      Onychomys        25.680000
193 24      Perognathus      10.500000
194 24      Peromyscus       21.821970
195 24      Reithrodontomys  10.639752
196 24      Sigmodon         66.857143

In [58]:
surveys_wide <- surveys_pw %>%

    # names_from - Column with new variable names.
    # values_from - Column of values for new variables.

    pivot_wider(names_from = genus, values_from = mean_weight, values_fill = 0)

In [63]:
View(surveys_wide %>% 
     select(plot_id, Baiomys, Chaetodipus, Dipodomys)
    )

   plot_id Baiomys  Chaetodipus Dipodomys
1   1      7.000000 22.19939    60.23214
2   2      6.000000 25.11014    55.68259
3   3      8.611111 24.63636    52.04688
4   4      0.000000 23.02381    57.52454
5   5      7.750000 17.98276    51.11356
6   6      0.000000 24.86009    58.60531
7   7      0.000000 19.91603    57.36364
8   8      0.000000 20.47284    59.41090
9   9      0.000000 18.91597    57.51792
10 10      0.000000 22.33333    51.83333
11 11      0.000000 19.80882    50.60652
12 12      0.000000 19.61638    50.48293
13 13      0.000000 27.29651    60.47431
14 14      0.000000 16.51852    48.86020
15 15      0.000000 20.53623    46.58333
16 16      0.000000 22.15385    45.81982
17 17      0.000000 23.17816    52.56868
18 18      9.500000 26.75581    61.39610
19 19      9.533333 26.42593    43.26923
20 20      6.000000 25.05747    65.93596
21 21      6.666667 28.18354    42.68571
22 22      0.000000 29.73958    70.38413
23 23      0.000000 22.44444    53.62069
24 24      0.000000 20.46154    45.74644

- `pivot_longer()`
    - Takes four principal arguments:
        - the data
        - the names_to column variable we wish to create from column names.
        - the values_to column variable we wish to create and fill with values.
        - cols are the name of the columns we use to make this pivot (or to drop)

In [65]:
surveys_long <- surveys_wide %>%
    # cols = -plot_id (all columns except plot_id)
    pivot_longer(names_to = "genus", values_to = "mean_weight", cols = -plot_id)

In [62]:
View(head(surveys_long))

  plot_id genus       mean_weight
1 1       Baiomys       7.00000
2 1       Chaetodipus  22.19939
3 1       Dipodomys    60.23214
4 1       Neotoma     156.22222
5 1       Onychomys    27.67550
6 1       Perognathus   9.62500

#### Challenge
1. Reshape the surveys data frame with year as columns, plot_id as rows, and the number of genera per plot as the values. You will need to summarize before reshaping, and use the function n_distinct() to get the number of unique genera within a particular chunk of data. It’s a powerful function! See ?n_distinct for more.

?n_distinct

In [79]:
ch_pivot_1_summarized <- surveys %>%
    group_by(plot_id, year) %>%
    summarize(n_genera = n_distinct(genus))

`summarise()` has grouped output by 'plot_id'. You can override using the `.groups` argument.

In [82]:
str(ch_pivot_1_summarized)

grouped_df [619 × 3] (S3: grouped_df/tbl_df/tbl/data.frame)
 $ plot_id : num [1:619] 1 1 1 1 1 1 1 1 1 1 ...
 $ year    : num [1:619] 1977 1978 1979 1980 1981 ...
 $ n_genera: int [1:619] 2 3 4 7 5 6 7 6 4 3 ...
 - attr(*, "groups")= tibble [24 × 2] (S3: tbl_df/tbl/data.frame)
  ..$ plot_id: num [1:24] 1 2 3 4 5 6 7 8 9 10 ...
  ..$ .rows  : list<int> [1:24]
  .. ..$ : int [1:26] 1 2 3 4 5 6 7 8 9 10 ...
  .. ..$ : int [1:26] 27 28 29 30 31 32 33 34 35 36 ...
  .. ..$ : int [1:26] 53 54 55 56 57 58 59 60 61 62 ...
  .. ..$ : int [1:26] 79 80 81 82 83 84 85 86 87 88 ...
  .. ..$ : int [1:26] 105 106 107 108 109 110 111 112 113 114 ...
  .. ..$ : int [1:26] 131 132 133 134 135 136 137 138 139 140 ...
  .. ..$ : int [1:26] 157 158 159 160 161 162 163 164 165 166 ...
  .. ..$ : int [1:26] 183 184 185 186 187 188 189 190 191 192 ...
  .. ..$ : int [1:26] 209 210 211 212 213 214 215 216 217 218 ...
  .. ..$ : int [1:24] 235 236 237 238 239 240 241 242 243 244 ...
  .. ..$ : int [1:26] 259 260 261 262 263 264 265 266 267 268 ...
  .. ..$ : int [1:26] 285 286 287 288 289 290 291 292 293 294 ...
  .. ..$ : int [1:26] 311 312 313 314 315 316 317 318 319 320 ...
  .. ..$ : int [1:26] 337 338 339 340 341 342 343 344 345 346 ...
  .. ..$ : int [1:26] 363 364 365 366 367 368 369 370 371 372 ...
  .. ..$ : int [1:26] 389 390 391 392 393 394 395 396 397 398 ...
  .. ..$ : int [1:26] 415 416 417 418 419 420 421 422 423 424 ...
  .. ..$ : int [1:26] 441 442 443 444 445 446 447 448 449 450 ...
  .. ..$ : int [1:26] 467 468 469 470 471 472 473 474 475 476 ...
  .. ..$ : int [1:26] 493 494 495 496 497 498 499 500 501 502 ...
  .. ..$ : int [1:26] 519 520 521 522 523 524 525 526 527 528 ...
  .. ..$ : int [1:26] 545 546 547 548 549 550 551 552 553 554 ...
  .. ..$ : int [1:25] 571 572 573 574 575 576 577 578 579 580 ...
  .. ..$ : int [1:24] 596 597 598 599 600 601 602 603 604 605 ...
  .. ..@ ptype: int(0)
  ..- attr(*, ".drop")= logi TRUE

In [80]:
reshaped_pivot_1 <- ch_pivot_1_summarized %>%
    pivot_wider(names_from = year, values_from = n_genera)

In [81]:
View(reshaped_pivot_1)

   plot_id 1977 1978 1979 1980 1981 1982 1983 1984 1985 ⋯ 1993 1994 1995 1996
1   1       2    3   4    7    5     6    7    6   4    ⋯ 5    6    5    5
2   2       6    6   6    8    5     9    9    9   6    ⋯ 8    5    6    7
3   3       5    6   4    6    6     8   10   11   7    ⋯ 6    5    6    7
4   4       4    4   3    4    5     4    6    3   4    ⋯ 3    3    4    6
5   5       4    3   2    5    4     6    7    7   3    ⋯ 4    5    8    7
6   6       3    4   3    4    5     9    9    7   5    ⋯ 5    4    7    6
7   7       3    1   3    1    1     4    2    3   4    ⋯ 4    4    5    4
8   8       2    4   3    5    6     6    4    6   4    ⋯ 4    6    6    6
9   9       3    3   3    4    5     6    7    4   5    ⋯ 2    4    5    7
10 10       1   NA   2    5    5     8    4    2   3    ⋯ 1    2    3    2
11 11       5    6   5    6    8     8    9    7   5    ⋯ 4    2    6    7
12 12       5    4   4    5    7    10    9    9   8    ⋯ 7    3    7    9
13 13       3    6   5    6    5     7    7    6   4    ⋯ 9    6    8    8
14 14       3    5   4    3    6     9    6    6   7    ⋯ 6    4    5    6
15 15       2    5   5    4    9     8    8    8   5    ⋯ 6    5    7    6
16 16       3    2   2    3    3     8    5    3   4    ⋯ 5    3    4    5
17 17       4    6   4    6    7     6    8    6   6    ⋯ 7    4    7    7
18 18       2    7   4    6    4     9    5    5   5    ⋯ 5    4    4    3
19 19       4    4   5    7    6     7    6    4   8    ⋯ 5    4    4    5
20 20       3    6   6    7    8    10    9    6   5    ⋯ 6    6    8    6
21 21       3    4   4    6    6     7    8    4   7    ⋯ 4    3    4    6
22 22       4    4   3    6    4     5    7    5   7    ⋯ 4    3    7    4
23 23       1   NA   2    4    4     9    5    5   3    ⋯ 3    2    5    5
24 24      NA   NA   4    6    5     7    9    6   8    ⋯ 4    4    3    3
   1997 1998 1999 2000 2001 2002
1   7   5    5    5     4   6
2   7   5    6    7     7   7
3   8   7    5    4     5   5
4   8   4    4    5     5   5
5   6   6    3    3     2   4
6  10   5    5    4     5   9
7   5   4    3    4     6   5
8   6   4    5    3     4   3
9   8   7    3    7     5   7
10  3   2    1    2    NA   2
11  7   5    5    3     5   8
12  8   6    7    6     5   7
13  6   6    3    3     4   8
14  8   7    4    4     8   7
15  8   7    4    6     5   8
16  5   6    3    6     5   7
17  8   7    6    4     7   6
18  7   4    4    7     5   6
19  5   5    4    2     7   8
20  7   8    6    4     9   7
21  6   8    6    1     3   3
22  7   5    3    3     5   5
23  4   2    4    2     6   5
24  6   5    4    6     8   6

2. Now take that data frame and pivot_longer() it, so each row is a unique plot_id by year combination.

In [89]:
reshaped_pivot_2 <- reshaped_pivot_1 %>%
    pivot_longer(names_to = "year",  values_to = "n_genera", cols = -plot_id)

In [91]:
View(head(reshaped_pivot_2))

  plot_id year n_genera
1 1       1977 2
2 1       1978 3
3 1       1979 4
4 1       1980 7
5 1       1981 5
6 1       1982 6

3. The surveys data set has two measurement columns: hindfoot_length and weight. This makes it difficult to do things like look at the relationship between mean values of each measurement per year in different plot types. Let’s walk through a common solution for this type of problem. First, use pivot_longer() to create a dataset where we have a names column called measurement and a value column that takes on the value of either hindfoot_length or weight. Hint: You’ll need to specify which columns will be part of the reshape.

In [126]:
surveys_long <- surveys %>%
  pivot_longer(
          names_to = "measurement", 
          values_to = "value", 
          cols = c(hindfoot_length, weight)
  )

In [130]:
View(surveys_long)

      record_id month day year plot_id species_id sex genus       species
1        1       7    16  1977 2       NL         M   Neotoma     albigula
2        1       7    16  1977 2       NL         M   Neotoma     albigula
3       72       8    19  1977 2       NL         M   Neotoma     albigula
4       72       8    19  1977 2       NL         M   Neotoma     albigula
5      224       9    13  1977 2       NL         NA  Neotoma     albigula
6      224       9    13  1977 2       NL         NA  Neotoma     albigula
7      266      10    16  1977 2       NL         NA  Neotoma     albigula
8      266      10    16  1977 2       NL         NA  Neotoma     albigula
9      349      11    12  1977 2       NL         NA  Neotoma     albigula
10     349      11    12  1977 2       NL         NA  Neotoma     albigula
11     363      11    12  1977 2       NL         NA  Neotoma     albigula
12     363      11    12  1977 2       NL         NA  Neotoma     albigula
13     435      12    10  1977 2       NL         NA  Neotoma     albigula
14     435      12    10  1977 2       NL         NA  Neotoma     albigula
15     506       1     8  1978 2       NL         NA  Neotoma     albigula
16     506       1     8  1978 2       NL         NA  Neotoma     albigula
17     588       2    18  1978 2       NL         M   Neotoma     albigula
18     588       2    18  1978 2       NL         M   Neotoma     albigula
19     661       3    11  1978 2       NL         NA  Neotoma     albigula
20     661       3    11  1978 2       NL         NA  Neotoma     albigula
21     748       4     8  1978 2       NL         NA  Neotoma     albigula
22     748       4     8  1978 2       NL         NA  Neotoma     albigula
23     845       5     6  1978 2       NL         M   Neotoma     albigula
24     845       5     6  1978 2       NL         M   Neotoma     albigula
25     990       6     9  1978 2       NL         M   Neotoma     albigula
26     990       6     9  1978 2       NL         M   Neotoma     albigula
27    1164       8     5  1978 2       NL         M   Neotoma     albigula
28    1164       8     5  1978 2       NL         M   Neotoma     albigula
29    1261       9     4  1978 2       NL         M   Neotoma     albigula
30    1261       9     4  1978 2       NL         M   Neotoma     albigula
⋮     ⋮         ⋮     ⋮   ⋮    ⋮       ⋮          ⋮   ⋮           ⋮
69543 29231      2    20  1999 7       PB         M   Chaetodipus baileyi
69544 29231      2    20  1999 7       PB         M   Chaetodipus baileyi
69545 30355      2     5  2000 7       PB         M   Chaetodipus baileyi
69546 30355      2     5  2000 7       PB         M   Chaetodipus baileyi
69547 32085      5    26  2001 7       PB         F   Chaetodipus baileyi
69548 32085      5    26  2001 7       PB         F   Chaetodipus baileyi
69549 32477      8    25  2001 7       PB         M   Chaetodipus baileyi
69550 32477      8    25  2001 7       PB         M   Chaetodipus baileyi
69551 33103     11    17  2001 7       PB         M   Chaetodipus baileyi
69552 33103     11    17  2001 7       PB         M   Chaetodipus baileyi
69553 33305     12    15  2001 7       PB         M   Chaetodipus baileyi
69554 33305     12    15  2001 7       PB         M   Chaetodipus baileyi
69555 34524      7    13  2002 7       PB         M   Chaetodipus baileyi
69556 34524      7    13  2002 7       PB         M   Chaetodipus baileyi
69557 35382     12     8  2002 7       PB         M   Chaetodipus baileyi
69558 35382     12     8  2002 7       PB         M   Chaetodipus baileyi
69559 26557      7    29  1997 7       PL         F   Peromyscus  leucopus
69560 26557      7    29  1997 7       PL         F   Peromyscus  leucopus
69561 26787      9    27  1997 7       PL         F   Peromyscus  leucopus
69562 26787      9    27  1997 7       PL         F   Peromyscus  leucopus
69563 26966     10    25  1997 7       PL         M   Peromyscus  leucopus
69564 26966     10    25  1997 7       PL         M   Peromyscus  leucopus
69565 27185     11    22  1997 7       PL         F   Peromyscus  leucopus
69566 27185     11    22  1997 7       PL         F   Peromyscus  leucopus
69567 27792      5     2  1998 7       PL         F   Peromyscus  leucopus
69568 27792      5     2  1998 7       PL         F   Peromyscus  leucopus
69569 28806     11    21  1998 7       PX         NA  Chaetodipus sp.
69570 28806     11    21  1998 7       PX         NA  Chaetodipus sp.
69571 30986      7     1  2000 7       PX         NA  Chaetodipus sp.
69572 30986      7     1  2000 7       PX         NA  Chaetodipus sp.
      taxa   plot_type        measurement     value
1     Rodent Control          hindfoot_length  32
2     Rodent Control          weight           NA
3     Rodent Control          hindfoot_length  31
4     Rodent Control          weight           NA
5     Rodent Control          hindfoot_length  NA
6     Rodent Control          weight           NA
7     Rodent Control          hindfoot_length  NA
8     Rodent Control          weight           NA
9     Rodent Control          hindfoot_length  NA
10    Rodent Control          weight           NA
11    Rodent Control          hindfoot_length  NA
12    Rodent Control          weight           NA
13    Rodent Control          hindfoot_length  NA
14    Rodent Control          weight           NA
15    Rodent Control          hindfoot_length  NA
16    Rodent Control          weight           NA
17    Rodent Control          hindfoot_length  NA
18    Rodent Control          weight          218
19    Rodent Control          hindfoot_length  NA
20    Rodent Control          weight           NA
21    Rodent Control          hindfoot_length  NA
22    Rodent Control          weight           NA
23    Rodent Control          hindfoot_length  32
24    Rodent Control          weight          204
25    Rodent Control          hindfoot_length  NA
26    Rodent Control          weight          200
27    Rodent Control          hindfoot_length  34
28    Rodent Control          weight          199
29    Rodent Control          hindfoot_length  32
30    Rodent Control          weight          197
⋮     ⋮      ⋮                ⋮               ⋮
69543 Rodent Rodent Exclosure hindfoot_length 26
69544 Rodent Rodent Exclosure weight          28
69545 Rodent Rodent Exclosure hindfoot_length 27
69546 Rodent Rodent Exclosure weight          20
69547 Rodent Rodent Exclosure hindfoot_length 22
69548 Rodent Rodent Exclosure weight          37
69549 Rodent Rodent Exclosure hindfoot_length 28
69550 Rodent Rodent Exclosure weight          32
69551 Rodent Rodent Exclosure hindfoot_length 28
69552 Rodent Rodent Exclosure weight          41
69553 Rodent Rodent Exclosure hindfoot_length 29
69554 Rodent Rodent Exclosure weight          44
69555 Rodent Rodent Exclosure hindfoot_length 25
69556 Rodent Rodent Exclosure weight          16
69557 Rodent Rodent Exclosure hindfoot_length 26
69558 Rodent Rodent Exclosure weight          30
69559 Rodent Rodent Exclosure hindfoot_length 20
69560 Rodent Rodent Exclosure weight          22
69561 Rodent Rodent Exclosure hindfoot_length 21
69562 Rodent Rodent Exclosure weight          16
69563 Rodent Rodent Exclosure hindfoot_length 20
69564 Rodent Rodent Exclosure weight          16
69565 Rodent Rodent Exclosure hindfoot_length 21
69566 Rodent Rodent Exclosure weight          22
69567 Rodent Rodent Exclosure hindfoot_length 20
69568 Rodent Rodent Exclosure weight           8
69569 Rodent Rodent Exclosure hindfoot_length NA
69570 Rodent Rodent Exclosure weight          NA
69571 Rodent Rodent Exclosure hindfoot_length NA
69572 Rodent Rodent Exclosure weight          NA

4. With this new data set, calculate the average of each measurement in each year for each different plot_type. Then pivot_wider() them into a data set with a column for hindfoot_length and weight. Hint: You only need to specify the names and values columns for pivot_wider().

In [137]:
surveys_long %>%
    group_by(plot_type, year, measurement) %>%
    summarize(average_measurement = mean(value, na.rm=TRUE)) %>%
    pivot_wider(names_from=)

`summarise()` has grouped output by 'plot_type', 'year'. You can override using the `.groups` argument.

    plot_type         year measurement     average_measurement
1   Control           1977 hindfoot_length 36.13483
2   Control           1977 weight          50.44094
3   Control           1978 hindfoot_length 38.06467
4   Control           1978 weight          70.75169
5   Control           1979 hindfoot_length 36.61921
6   Control           1979 weight          68.05751
7   Control           1980 hindfoot_length 36.46993
8   Control           1980 weight          66.18887
9   Control           1981 hindfoot_length 36.97727
10  Control           1981 weight          68.03981
11  Control           1982 hindfoot_length 34.15596
12  Control           1982 weight          58.76671
13  Control           1983 hindfoot_length 35.03709
14  Control           1983 weight          61.43070
15  Control           1984 hindfoot_length 34.19372
16  Control           1984 weight          54.63421
17  Control           1985 hindfoot_length 33.31097
18  Control           1985 weight          49.14498
19  Control           1986 hindfoot_length 34.50725
20  Control           1986 weight          61.65942
21  Control           1987 hindfoot_length 32.02251
22  Control           1987 weight          58.01361
23  Control           1988 hindfoot_length 32.99831
24  Control           1988 weight          53.00169
25  Control           1989 hindfoot_length 30.83099
26  Control           1989 weight          44.64992
27  Control           1990 hindfoot_length 34.14789
28  Control           1990 weight          46.41541
29  Control           1991 hindfoot_length 31.36891
30  Control           1991 weight          42.05047
⋮   ⋮                 ⋮    ⋮               ⋮
231 Spectab exclosure 1988 hindfoot_length 33.48592
232 Spectab exclosure 1988 weight          53.45070
233 Spectab exclosure 1989 hindfoot_length 31.12667
234 Spectab exclosure 1989 weight          41.42308
235 Spectab exclosure 1990 hindfoot_length 35.08108
236 Spectab exclosure 1990 weight          43.73548
237 Spectab exclosure 1991 hindfoot_length 32.80128
238 Spectab exclosure 1991 weight          40.98077
239 Spectab exclosure 1992 hindfoot_length 33.17699
240 Spectab exclosure 1992 weight          42.56881
241 Spectab exclosure 1993 hindfoot_length 32.98485
242 Spectab exclosure 1993 weight          40.18750
243 Spectab exclosure 1994 hindfoot_length 35.06000
244 Spectab exclosure 1994 weight          40.03922
245 Spectab exclosure 1995 hindfoot_length 32.58865
246 Spectab exclosure 1995 weight          39.29078
247 Spectab exclosure 1996 hindfoot_length 30.90058
248 Spectab exclosure 1996 weight          35.41765
249 Spectab exclosure 1997 hindfoot_length 29.52049
250 Spectab exclosure 1997 weight          36.93469
251 Spectab exclosure 1998 hindfoot_length 32.05426
252 Spectab exclosure 1998 weight          38.21488
253 Spectab exclosure 1999 hindfoot_length 32.23967
254 Spectab exclosure 1999 weight          41.56198
255 Spectab exclosure 2000 hindfoot_length 27.87255
256 Spectab exclosure 2000 weight          32.85075
257 Spectab exclosure 2001 hindfoot_length 30.15625
258 Spectab exclosure 2001 weight          41.23871
259 Spectab exclosure 2002 hindfoot_length 28.16594
260 Spectab exclosure 2002 weight          34.77130