# 02. Reading data with R

In [ ]:
install.packages("tidyverse")
library(tidyverse)
use_lintr()

## `read_csv`
- `read_csv` looks through the first 1000 rows of each column and guesses its data type
- You have the option to specify the data type for a column manually
by using col_types
- read_csv assumes that fields are delineated by commas.

In [ ]:
surveys <- read_csv("../data_raw/portal_data_joined.csv")

In [3]:
# shows the first 6 rows
head(surveys)

  record_id month day year plot_id species_id sex hindfoot_length weight
1   1        7    16  1977 2       NL         M   32              NA
2  72        8    19  1977 2       NL         M   31              NA
3 224        9    13  1977 2       NL         NA  NA              NA
4 266       10    16  1977 2       NL         NA  NA              NA
5 349       11    12  1977 2       NL         NA  NA              NA
6 363       11    12  1977 2       NL         NA  NA              NA
  genus   species  taxa   plot_type
1 Neotoma albigula Rodent Control
2 Neotoma albigula Rodent Control
3 Neotoma albigula Rodent Control
4 Neotoma albigula Rodent Control
5 Neotoma albigula Rodent Control
6 Neotoma albigula Rodent Control

## What are data frames
- Data frames are the de facto data structure for most tabular data, and what we use for statistics and plotting. 
- A data frame is the reporesentation of data in the format of a table where the columns are vectors that all have the same length. Because columns are vectors, each column must contain a single type of data (e.g., characters, integers, factors)

In [ ]:
# returns the structure of a dataframe
str(surveys)

## Inspecting data frames

### Size:

In [ ]:
# dimensions of a dataframe
dim(surveys)

In [22]:
# returns the number of rows in a data frame passed as an argument
nrow(surveys)

[1] 34786

In [23]:
# returns the number of columns in a data frame passed as an argument
ncol(surveys)

[1] 13

### Content:

In [27]:
# shows the first 6 rows
head(surveys)

  record_id month day year plot_id species_id sex hindfoot_length weight
1   1        7    16  1977 2       NL         M   32              NA
2  72        8    19  1977 2       NL         M   31              NA
3 224        9    13  1977 2       NL         NA  NA              NA
4 266       10    16  1977 2       NL         NA  NA              NA
5 349       11    12  1977 2       NL         NA  NA              NA
6 363       11    12  1977 2       NL         NA  NA              NA
  genus   species  taxa   plot_type
1 Neotoma albigula Rodent Control
2 Neotoma albigula Rodent Control
3 Neotoma albigula Rodent Control
4 Neotoma albigula Rodent Control
5 Neotoma albigula Rodent Control
6 Neotoma albigula Rodent Control

In [28]:
# shows the last 6 rows
tail(surveys)

  record_id month day year plot_id species_id sex hindfoot_length weight
1 26787      9    27  1997 7       PL         F   21              16
2 26966     10    25  1997 7       PL         M   20              16
3 27185     11    22  1997 7       PL         F   21              22
4 27792      5     2  1998 7       PL         F   20               8
5 28806     11    21  1998 7       PX         NA  NA              NA
6 30986      7     1  2000 7       PX         NA  NA              NA
  genus       species  taxa   plot_type
1 Peromyscus  leucopus Rodent Rodent Exclosure
2 Peromyscus  leucopus Rodent Rodent Exclosure
3 Peromyscus  leucopus Rodent Rodent Exclosure
4 Peromyscus  leucopus Rodent Rodent Exclosure
5 Chaetodipus sp.      Rodent Rodent Exclosure
6 Chaetodipus sp.      Rodent Rodent Exclosure

In [16]:
# returns names of columns present in a dataframe
names(surveys)

 [1] "record_id"       "month"           "day"             "year"
 [5] "plot_id"         "species_id"      "sex"             "hindfoot_length"
 [9] "weight"          "genus"           "species"         "taxa"
[13] "plot_type"

In [17]:
# exactly the same behavior as names(surveys)
colnames(surveys)

 [1] "record_id"       "month"           "day"             "year"
 [5] "plot_id"         "species_id"      "sex"             "hindfoot_length"
 [9] "weight"          "genus"           "species"         "taxa"
[13] "plot_type"

In [ ]:
# returns names of rows
rownames(surveys)

### Summary:

In [19]:
# returns summary statistics for each column
summary(surveys)

   record_id         month             day            year         plot_id
 Min.   :    1   Min.   : 1.000   Min.   : 1.0   Min.   :1977   Min.   : 1.00
 1st Qu.: 8964   1st Qu.: 4.000   1st Qu.: 9.0   1st Qu.:1984   1st Qu.: 5.00
 Median :17762   Median : 6.000   Median :16.0   Median :1990   Median :11.00
 Mean   :17804   Mean   : 6.474   Mean   :16.1   Mean   :1990   Mean   :11.34
 3rd Qu.:26655   3rd Qu.:10.000   3rd Qu.:23.0   3rd Qu.:1997   3rd Qu.:17.00
 Max.   :35548   Max.   :12.000   Max.   :31.0   Max.   :2002   Max.   :24.00

  species_id            sex            hindfoot_length     weight
 Length:34786       Length:34786       Min.   : 2.00   Min.   :  4.00
 Class :character   Class :character   1st Qu.:21.00   1st Qu.: 20.00
 Mode  :character   Mode  :character   Median :32.00   Median : 37.00
                                       Mean   :29.29   Mean   : 42.67
                                       3rd Qu.:36.00   3rd Qu.: 48.00
                                       Max.   :70.00   Max.   :280.00
                                       NA's   :3348    NA's   :2503
    genus             species              taxa            plot_type
 Length:34786       Length:34786       Length:34786       Length:34786
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character

Note: most of these functions are "generic", they can be used on other types of objects besides `data.frame`

### Challenge #1
Based on the output of str(surveys), can you answer the following questions?
- What is the class of the object surveys?
- How many rows and how many columns are in this object?

In [15]:
str(surveys)

spec_tbl_df [34,786 × 13] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ record_id      : num [1:34786] 1 72 224 266 349 363 435 506 588 661 ...
 $ month          : num [1:34786] 7 8 9 10 11 11 12 1 2 3 ...
 $ day            : num [1:34786] 16 19 13 16 12 12 10 8 18 11 ...
 $ year           : num [1:34786] 1977 1977 1977 1977 1977 ...
 $ plot_id        : num [1:34786] 2 2 2 2 2 2 2 2 2 2 ...
 $ species_id     : chr [1:34786] "NL" "NL" "NL" "NL" ...
 $ sex            : chr [1:34786] "M" "M" NA NA ...
 $ hindfoot_length: num [1:34786] 32 31 NA NA NA NA NA NA NA NA ...
 $ weight         : num [1:34786] NA NA NA NA NA NA NA NA 218 NA ...
 $ genus          : chr [1:34786] "Neotoma" "Neotoma" "Neotoma" "Neotoma" ...
 $ species        : chr [1:34786] "albigula" "albigula" "albigula" "albigula" ...
 $ taxa           : chr [1:34786] "Rodent" "Rodent" "Rodent" "Rodent" ...
 $ plot_type      : chr [1:34786] "Control" "Control" "Control" "Control" ...
 - attr(*, "spec")=
  .. cols(
  ..   record_id = col_double(),
  ..   month = col_double(),
  ..   day = col_double(),
  ..   year = col_double(),
  ..   plot_id = col_double(),
  ..   species_id = col_character(),
  ..   sex = col_character(),
  ..   hindfoot_length = col_double(),
  ..   weight = col_double(),
  ..   genus = col_character(),
  ..   species = col_character(),
  ..   taxa = col_character(),
  ..   plot_type = col_character()
  .. )
 - attr(*, "problems")=<externalptr>

Answers:
- What is the class of the object surveys?
    - data.frame
- How many rows and how many columns are in this object?
    - 34786 rows and 13 columns

## Indexing and subsetting data
- Our survey data frame has rows and columns (2 dimensions), if we want to extract some specific data from it, we need to specify the "coordinates" we want from it.
    - Row number comes first, followed by column numbers.
- Different ways of specifying these coordinates lead to results with different classes.

### Tibbles
- Tibbles are data frames that tweak some older behaviours to make life a little easier.
- Tibbles can be created using `tibble()` which will also automatically recycle inputs of length 1, and allows you to refer to variables that you just created, as shown below.

In [13]:
tibble(
    x = 1:5,
    y = 1,
    z = x ^ 2 + y
)

  x y z
1 1 1  2
2 2 1  5
3 3 1 10
4 4 1 17
5 5 1 26

- Another way to create a tibble is with tribble(), which is short for transponed tibble:

In [14]:
tribble(
    ~x, ~y, ~z,
    #--|--|----
    "a", 2, 3.6,
    "b", 1, 8.5
)

  x y z
1 a 2 3.6
2 b 1 8.5

#### Tibbles vs data.frame
- There are two main differences in the usage of a tibble vs. a classic data.frame: printing and subsetting.

- **Printing**:
    - Tibbles have a refined print method that shows only the first 10 rows, and all the columns that fit on screen. This makes it much easier to work with large data. In addition to its name, each column reports its type, a nice feature borrowed from str()

In [18]:
print(tibble(
    a = 1:450,
    b = 7,
    c = a * 256 + 4096
))

# A tibble: 450 × 3
       a     b     c
   <int> <dbl> <dbl>
 1     1     7  4352
 2     2     7  4608
 3     3     7  4864
 4     4     7  5120
 5     5     7  5376
 6     6     7  5632
 7     7     7  5888
 8     8     7  6144
 9     9     7  6400
10    10     7  6656
# … with 440 more rows

- in case you want to print more than the first 10 rows or certain columns, you can use the `print()` function with additional parameters.
    - `n` is the number of rows you wish to print.
    - `width` is the number of columns to display.
        - Inf to display all columns.
- Additional options: <a href="https://r4ds.had.co.nz/tibbles.html">more information</a>

In [26]:
surveys %>% print(n = 4, width = Inf)

# A tibble: 34,786 × 13
  record_id month   day  year plot_id species_id sex   hindfoot_length weight
      <dbl> <dbl> <dbl> <dbl>   <dbl> <chr>      <chr>           <dbl>  <dbl>
1         1     7    16  1977       2 NL         M                  32     NA
2        72     8    19  1977       2 NL         M                  31     NA
3       224     9    13  1977       2 NL         NA                 NA     NA
4       266    10    16  1977       2 NL         NA                 NA     NA
  genus   species  taxa   plot_type
  <chr>   <chr>    <chr>  <chr>
1 Neotoma albigula Rodent Control
2 Neotoma albigula Rodent Control
3 Neotoma albigula Rodent Control
4 Neotoma albigula Rodent Control
# … with 34,782 more rows

- **Subsetting**
    - If you want to pull out a single variable, you need some new tools:
        - `$`
            - Only extracts by name but it is a little less typing.
        - `[[`
            - You can extract by name or position.

In [10]:
# - returns a tibble as a result
# - tibbles are data frames that tweak some older behaviours to make 
# life a little easier
surveys[1,2]

  month
1 7

## Здраво